.drivers-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drivers-list-item p {
  display: inline-flex;
}
.drivers-list-reg-icon {
  max-width: 20px;
}
.drivers-list-name {
  padding-right: 1rem;
  max-width: 30px;
  margin-right: 3rem;
}
.drivers-list-reg {
  display: flex;
  padding: 0 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drivers-list-time {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}
.drivers-list-time-icon {
  max-width: 15px;
  margin-right: 0;
  object-fit: contain;
}
.drivers-list-reg-icon {
  max-width: 15px;
  margin-right: 0.8rem;
  object-fit: contain;
}
.driver-list-calendar {
  display: inline-flex;
}

@media (min-width: 768px) {
  .drivers-list-reg {
    display: flex;
    flex-direction: row;
  }
  .drivers-list-time {
    display: flex;
    flex-direction: row;
  }
  .drivers-list-name {
    max-width: 100%;
    margin-right: 0;
  }
  .drivers-list-time-icon {
    margin-right: 0.6rem;
  }
}
