.drivers-list-item {
  display: block;
}
.drivers-list-content {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-widget-color);
  padding-bottom: 1.5rem;
}

.drivers-list-reg-icon {
  max-width: 20px;
}

.drivers-list-reg {
  display: flex;
  padding: 0 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drivers-list-time {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
}
.drivers-list-time-icon {
  max-width: 15px;
  margin-right: 0;
  object-fit: contain;
}
.drivers-list-reg-icon {
  max-width: 15px;
  margin-right: 0.8rem;
  object-fit: contain;
}
.driver-list-calendar {
  display: inline-flex;
}

.driver-list-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  position: relative;
}
.drivers-list-name {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .driver-list-header {
    display: inline-flex;
    flex-direction: row;
    align-items: end;
  }
  .drivers-list-time {
    padding: 0 3rem;
  }
  .drivers-list-item {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  .drivers-list-content {
    margin-bottom: 0;
    border-bottom: none;
    width: 60%;
    padding-bottom: 0;
  }
  .drivers-list-name {
    max-width: 100%;
    margin-right: 0;
    padding-right: 2rem;
    font-size: inherit;
  }
  .drivers-list-time-icon {
    margin-right: 0.6rem;
  }
}
@media (min-width: 1024px) {
  .drivers-list-reg {
    display: flex;
    flex-direction: row;
  }
}

.loading,
.no-found {
  color: var(--tertiary-list-color);
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--primary-font);
}
