.menu-mobile {
  display: block;
}
.menu-mobile-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 9;
  padding: 0.5rem;
}
.menu-mobile-button-close {
  max-width: 15px;
  width: 20px;
}
.menu-mobile-button-hamb {
  max-width: 25px;
  width: 25px;
}
.menu-mobile-nav {
  position: absolute;
  right: 0;
  top: 0;
  border: 3px solid var(--main-color);
  min-width: 250px;
  background: var(--border-widget-color);
  padding: 2.5rem 1.5rem;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}
